{% extends 'base.html' %}

{% block title %}
    Photogur - {{ picture.title }}
{% endblock %}

{% block main_class %}individual{% endblock %}

{% block content %}
    <article>
        <h2>{{ picture.title }} by {{ picture.artist }}</h3>
        <img src="{{ picture.url }}" alt="{{ picture.title }}" />
        <p>Number of Comments: {{ picture.comments.count }}</p>
        <ul>
            {% for comment in picture.comments.all %}
                <li>⦾ '{{ comment.message }}' - {{ comment.name }}</li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}