{% extends 'base.html' %}

{% block title %}
    - {{ picture.title }} by {{ picture.artist }}
{% endblock %}

{% block main_class %}individual{% endblock %}

{% block content %}
    <article>
        <h2>{{ picture.title }} by {{ picture.artist }}</h2>
        <h3>Uploaded by: {{ picture.user }}</h3>
        <img src="{{ picture.url }}" alt="{{ picture.title }}" />
        <h3>Leave a comment:</h3>
        <form action="{% url 'create_comment' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="picture" value="{{ picture.pk }}">

            {{ form.as_p }}

            <div>
                <input type="submit" name="submit" value="Submit">
                <input type="reset" name="reset" value="Reset">
            </div>
        </form>
        <p>Number of Comments: {{ picture.comments.count }}</p>
        <ul>
            {% for comment in picture.comments.all %}
                <li>⦾ '{{ comment.message }}' - {{ comment.name }}</li>
            {% endfor %}
        </ul>
    </article>
{% endblock %}
