{% extends 'base.html' %}

{% block title %}
    - {{ picture.title }} by {{ picture.artist }}
{% endblock %}

{% block main_class %}individual{% endblock %}

{% block content %}
    <section>
        <h2>{{ picture.title }} by {{ picture.artist }}</h2>
        <h3>Uploaded by: {{ picture.user }}</h3>

        {% if request.user == picture.user %}
        <p>
            <a href="{% url 'picture_edit' picture_id=picture.pk %}">Edit</a>
        </p>
        {% endif %}

        <img src="{{ picture.url }}" alt="{{ picture.title }}" />
        <h3>Leave a comment:</h3>
        <form action="{% url 'new_comment' picture_id=picture.pk %}" method="post">
            {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div>
                <input type="submit" name="submit" value="Submit">
                <input type="reset" name="reset" value="Reset">
            </div>
        </form>
        <p>Number of Comments: {{ picture.comments.count }}</p>
        <ul>
            {% for comment in picture.comments.all %}
                <li>⦾ '{{ comment.message }}' - {{ comment.name }}</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
