{% extends 'base.html' %}

{% block title %}
    - Search Results
{% endblock %}

{% block main_class %}search_results{% endblock %}

{% block content %}
    <h2>Search results: <span class="underline">{{pictures.count}}</span></h2>

    {% for picture in pictures %}
        <article>
            <a href="{% url 'image_details' id=picture.pk %}"><img src='{{ picture.url }}' alt='{{ picture.title }}' width="300px" /></a>
            <br/>
            <i>{{ picture.title }}</i> by {{ picture.artist }}
        </article>
    {% endfor %}
{% endblock %}
