body {
    margin: 0;
    padding: 0;
}

header {
    height: 50px;
    border-bottom: 1px solid #ededed;
    margin-bottom: 35px;
    padding-bottom: 30px;
}

h1 {
    margin: 0;
    padding: 0;
    padding: 10px 0 0 18px;
    font-size: 2em;
    color: #666666;
    font-family: Proxima Nova ExtraBold,Helvetica Neue,Helvetica,Arial,sans-serif;
    letter-spacing: .6px;
}

h2 {
    color: #6a7482;
}

main {
    margin: 0 auto;
    max-width: 1276px;
    text-align: center;
}

main.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

main.individual article {
    text-align: center;
}

article {
    /* display: inline-block; */
    vertical-align: top;
    /* max-width: 400px; */
    border: 1px solid #ededed;
    padding: 5px;
    text-align: left;
}

a {
    color: #6a7482;
    text-decoration: none;
}

article img {
    max-width: 100%;
}

ul {
    list-style-type: none;
}

footer {
    margin-top: 35px;
    background-color: #363636;
    color: #fbfbed;
    height: 38px;
    text-align: center;
}

footer p {
    padding-top: 10px;
}

@media only screen and (max-width: 992px) {
    main {
        margin: auto 60px; 
    }

    main.gallery {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 768px) {
    main {
        margin: auto 65px;
    }

    main.gallery {
        grid-template-columns: 1fr;
    }
}